	.main{
		width:1258px;
		float:left;
		border-right:1px solid;
		border-color:rgb(193,211,229);
	}
	.common-box a{
		margin-top:28px !important;
	}
	.right-box{
		margin:0px;
		width:1057px;
		height:1200px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-top:none;
		border-right:none;
		float:left;
	}
	.right-box p1{
		margin-top:35px;
		margin-left:30px;
		width:300px;
		color:rgb(109,163,210);
		font-size:21px;
		float:left;
	}
	.table-one{
		margin-top:10px;
		margin-left:20px;
		border:1px solid;
		border-left:none;
		border-top:none;
		border-color:rgb(193,211,229);
		float:left;
		height:280px;
		width:900px;
	}
	.table-one p1{
		width:99px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.table-one p2{
		width:349px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.table-two{
		margin-top:30px;
		margin-left:20px;
		border:1px solid;
		border-left:none;
		border-top:none;
		border-color:rgb(193,211,229);
		float:left;
		height:80px;
		width:900px;
	}
	.table-two p1{
		width:149px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.table-two p2{
		width:199px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.table-two p3{
		width:339px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.table-two p4{
		width:59px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.line-top{
		background-color:rgb(106,164,210) !important;
		color:white !important;
	}
	.table-three{
		width:900px;
		height:480px;
		text-align:center;
		color:black;
		border:1px solid;
		border-left:none;
		border-top:none;
		border-color:rgb(193,211,229);
		float:left;
		margin-top:30px;
		margin-left:20px;
	}
	.first-blue{
		width:899px;
		height:39px;
		float:left;
		background-color:rgb(106,164,210);
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
	}
	.left-big{
		width:49px;
		padding:0 25px;
		padding-top:10px;
		font-size:28px;
		font-weight:bold;
		line-height:35px;
		height:149px;
		float:left;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
	}
	.table-three p1{
		width:199px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.table-three p2{
		width:99px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.last-box{
		width:799px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.last-box img{
		margin-left:10px;
		cursor:pointer;
	}
	#btn-add{
		cursor:pointer;
		margin-left:5px;
		margin-top:5px;
	}
	#btn-delete{
		cursor:pointer;
		margin-left:5px;
		margin-top:2px;
	}
	.last-table{
		margin-top:25px;
		margin-left:660px;
		width:260px;
		height:60px;
		float:left;
	}
	.last-table a{
		margin-top:20px;
		color:rgb(182,205,231);
		text-decoration:none;
		font-size:16px;
		float:left;
	}
	.last-table a:hover{
		color:E4A15D;
	}
	.last-table img{
		/*margin-top:10px;*/
		cursor:pointer;
		margin-left:30px;
	}