		a{
		text-decoration:none;
	}
	@font-face{
		font-family:ownstyle;
		src:url(../style/glyphicons-halflings-regular.woff);
	}
	body{
		width:1258px;
		margin:0 auto;
		font-family: ownstyle ! important;
	}
	img{
		float:left;
	}
	.top{
		width:1258px;
		height:60px;
		border:1px solid;
		border-top:none;
		border-right:none;
		border-color:rgb(193,211,229);
		float:left;
	}
	.top p1{
		height:60px;
		width:220px;
		text-align:right;
		padding-right:10px;
		color:rgb(109,163,210);
		line-height:60px;
		float:left;
		font-size:26px;
		font-weight:bold;
	}
	.top a{
		text-decoration:none;
		height:60px;
		width:100px;
		text-align:center;
		color:rgb(109,163,210);
		line-height:60px;
		float:left;
		font-size:26px;
	}
	.top a:hover{
		color:E4A15D;
	}
	#img-position1{
		margin-top:8px;
	}
	#img-position2{
		margin-top:20px;
		margin-left:610px;
	}
	#img-position3{
		margin-top:17px;
		margin-left:60px;
	}
	.left-box{
		height:486px;
		width:200px;
		float:left;
	}
	.common-box{
		height:80px;
		border:1px solid;
		border-top:none;
		border-right:none;
		border-color:rgb(193,211,229);
		width:200px;
		float:left;
	}
	.common-box .img-box{
		height:80px;
		width:70px;
		float:left;
	}
	.img-box img{
		margin-top:33px;
		margin-left:40px;
	}
	.common-box a{
		margin-top:27px;
		margin-left:10px;
		text-decoration:none;
		color:rgb(79,84,101);
		font-size:22px;
		font-weight:bold;
		float:left;
	}
	.common-box a:hover{
		color:E4A15D;
	}