<style>
      a{

      }
      @font-face{
        font-family:ownstyle;
        src:url(../style/glyphicons-halflings-regular.woff);
      }
      body{
        width:1258px;
        margin:0 auto;
        font-family:ownstyle;
      }
      .ui-showcase{
        width:1258px;
        height:500px;
        margin:0px;
        padding:0px;
      }
      .ui_asideMenu{
        width:250px;
        height:500px;
        background:;
        margin:0px;
        padding:0px;
        float:left;
      }
      .action{
        width:250px;
        height:100px;
        background-image:url(../main/picture/cut_23.png);
      }
      .nosmoke{
        width:250px;
        height:100px;
        background-image:url(../main/picture/cut_29.png);
      }
      .fire{
        width:250px;
        height:100px;
        background-image:url(../main/picture/cut_30.png);
      }
      .txtScroll-left{
        width:250px;
        height:200px;
        background-color:rgb(243,243,243);
        border-top:1px solid;
        border-color:rgb(239,239,241);
      }
      .txtScroll-left .hd{ 
        overflow:hidden;  
        height:80px; 
        background-color:rgb(243,243,243); 
        float:left;  
        width:250px;
      }
      .txtScroll-left .hd .prev,.txtScroll-left .hd .next{ 
        display:block; 
        float:right; 
        margin-left:30px; 
        margin-top:50px;  
        overflow:hidden; 
        cursor:pointer; 
        float:left;
      }
      .txtScroll-left .hd .next{
        float:left; 
        margin-left:30px
      }
      .txtScroll-left .hd p1{
        float:left; 
        font-size:21px; 
        font-weight:bold; 
        color:black; 
        margin-left:30px; 
        margin-top:45px;
      }
      .txtScroll-left .bd{ 
        width:250px; 
        overflow:hidden; 
        height:120px;   
      }
      .txtScroll-left .bd .infoList{ 
        padding:0; 
        margin:0;
      }
      .txtScroll-left .bd ul{ 
        overflow:hidden; 
        zoom:1; 
      }
      .txtScroll-left .bd ul li{
        margin-left:5px; 
        float:left; 
        height:60px; 
        line-height:30px;  
        text-align:center; 
        width:75px; 
        margin-top:30px; 
        background-color:white;
      }
      .txtScroll-left .bd ul li a{
        margin-top:5px;
        text-decoration:none;
        font-size:18px;
        color:black;
      }
      .txtScroll-left .bd ul li a:hover{
        color:E4A15D;
      }

      .action-imformation{
        position:absolute;
        display:none;
        left:333px;
        width:400px;
        height:500px;
        background-color:F9FAFA;
        z-index:5000;
      }
      .action-imformation p{
        color:5A5A59;
        font-size:18px;
        margin:10px;
        margin-left:15px;
        margin-bottom:5px;
      }
      .action-imformation a{
        color:5A5A59;
        font-size:15px;
        margin-left:15px;
        text-decoration:none;
      }
      .action-imformation a:hover{
        color:E4A15D;
      }

      .nosmoke-imformation{
        position:absolute;
        display:none;
        left:333px;
        width:400px;
        height:500px;
        background-color:F9FAFA;
        z-index:5000;
      }
      .nosmoke-imformation p{
        color:5A5A59;
        font-size:18px;
        margin:10px;
        margin-left:15px;
        margin-bottom:5px;
      }
      .nosmoke-imformation a{
        color:5A5A59;
        font-size:15px;
        margin-left:15px;
        text-decoration:none;
      }
      .nosmoke-imformation a:hover{
        color:E4A15D;
      }

      .fire-imformation{
        position:absolute;
        display:none;
        left:333px;
        width:400px;
        height:500px;
        background-color:F9FAFA;
        z-index:5000;
      }
      .fire-imformation p{
        color:5A5A59;
        font-size:18px;
        margin:10px;
        margin-left:15px;
        margin-bottom:5px;
      }
      .fire-imformation a{
        color:5A5A59;
        font-size:15px;
        margin-left:15px;
        text-decoration:none;
      }
      .fire-imformation a:hover{
        color:E4A15D;
      }

      .carousel{
        width:745px;
        height:500px;
        margin-left:5px;
        float:left;
        background-color:rgb(231,231,231);
      }
      .carousel-indicators li {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 1px;
        cursor: pointer;
        background-color:#fff;
        border: 1px solid 5A5A59;
        border-radius: 12px;      
      }
      .carousel-indicators .active {
        width: 24px;
        height: 24px;
        border: 1px solid 5A5A59;
        background-color:5A5A59;
      }
      .leading{
        position:absolute;
        width:34px;
        height:39px;
        top:435px;  
      }
      .left-img{
        width:34px;
        height:39px;
        background-image:url(../main/picture/cut_40.png);
      }
      .right-img{
        width:34px;
        height:39px;
        background-image:url(../main/picture/cut_42.png);
      }
      .leading.left{
        left:100px;
      }
      .leading.right{
        right:100px;
      }
      .cat_zm{
        width:250px;
        height:500px;
        float:left;
        margin-left:5px;
        background-color:rgb(243,243,245);
      }
      .cat_zm p {
        margin-top:15px;
        margin-left:20px;
        font-size:21px;
        color:5A5A59;
        font-weight:bold;
        float:left;
      }
      .txtScroll-top{ 
        width:230px;  
        overflow:hidden; 
        position:relative; 
        height:380px; 
        margin-left:20px;
      }
      .txtScroll-top .hd{ 
        overflow:hidden;  
        height:380px;
        background:#f4f4f4; 
        width:30px; 
        float:right;
        background-color:rgb(243,243,245);
      }
      .txtScroll-top .hd .prev,.txtScroll-top .hd .next{ 
        display:block; 
        margin-top:5px; 
        width:30px; 
        height:30px; 
        float:right; 
        margin-right:5px;  
        overflow:hidden; 
        margin-left:2px;
        cursor:pointer; 
        background:url(../main/picture/cut_26.png) no-repeat;
        float: left;
      }
      .txtScroll-top .hd .next{ 
        background:url(../main/picture/cut_49.png) no-repeat; 
        margin-top:320px; 
      }
      .txtScroll-top .bd{ 
        width:195px; 
        height:380px; 
        float:left;
        background-color:rgb(172,171,172);
        padding-left:5px;
      }
      .txtScroll-top .infoList li{ 
        height:24px; 
        line-height:30px;   
      }
      .txtScroll-top .infoList li a{
        text-decoration:none; 
        color:black;
      }
      .txtScroll-top .infoList li a:hover{
        color:E4A15D;
      }

      .ui-wharf{
        margin:20px;
        height:210px;
        width:1215px;
        border:3px solid;
        border-color:B5B4B4;
      }
      .wharf-content{
        margin-top:13px;
        width:135px;
        height:180px;
        border-right:3px solid;
        border-color:B5B4B4;
        float:left;
      }
      .wharf-content p{
        margin-top:15px;
        font-size:15px;
        font-weight:bold;
        color:000000;
        text-align:center;
      }
      .wharf-content a img{
        margin-top:30px;
        margin-left:5px;
      }
      .wharf-content-last{
        margin-top:13px;
        width:135px;
        height:180px;
        border-color:B5B4B4;
        float:left;
      }
      .wharf-content-last p{
        margin-top:15px;
        font-size:15px;
        font-weight:bold;
        color:000000;
        text-align:center;
      }
      .wharf-content-last a img{
        margin-top:30px;
        margin-left:5px;
      }
      .wharf-bill{
        width:264px;
        height:102px;
        float:left;
        border-left:3px solid;
        border-color:B5B4B4;
      }
      .wharf-bill img{
        margin-top:15px;
        margin-left:25px;
        float:left;
      }
      .wharf-bill p{
        font-size:21px;
        font-weight:bold;
        color:3078BE;
        margin-top:5px;
        margin-left:35px;
        float:left;
      }
      .wharf-bill span{
        font-size:36px;
        font-weight:bold;
        color:E84B49;
        float: left;
        margin-left:25px;
      }
      .wharf-bill p2{
        font-size:21px;
        font-weight:bold;
        color:3078BE;
        margin-top:14px;
        margin-left:5px;
        float:left;
      }
      .wharf-all{
        width:264px;
        height:102px;
        float:left;
        border-left:3px solid;
        border-top:3px solid;
        border-color:B5B4B4;
      }
      .wharf-all img{
        margin-top:15px;
        margin-left:25px;
        float:left;
      }
      .wharf-all p{
        font-size:21px;
        font-weight:bold;
        color:3078BE;
        margin-top:5px;
        margin-left:35px;
        float:left;
      }
      .wharf-all span{
        font-size:36px;
        font-weight:bold;
        color:E84B49;
        float: left;
        margin-left:25px;
      }
      .wharf-all p2{
        font-size:21px;
        font-weight:bold;
        color:3078BE;
        margin-top:14px;
        margin-left:5px;
        float:left;
      }
      .action-area{
        height:800px;
        width:1258px;
        background-color:E8E7E7;
      }
      .action-img{
        height:280px;
        width:125px;
        background-color:21A3DE;
        float:left;
        margin-left:12px;
        margin-top:72px;
        border-radius:20px 0 0 20px;
      }
      .action-img p{
        font-size:36px;
        color:FFFFFF;
        font-weight:bold;
        line-height:40px;
        margin-left:10px;
        margin-top:30px;
      }
      .action-img img{
        margin-top:20px;
      }
      .action-content{
        height:750px;
        width:750px;
        margin-top:30px;
        float:left;
      }
      .link-container{
        height:42px;
        width:720px;
      }
      .link-container a{
        font-size:18px;
        color:5A5A59;
        cursor:pointer;
        font-weight:bold;
        text-decoration:none;
      }
      .link-container a:hover{
        color:E4A15D;
      }
      .more{
        float:left;
        margin-top:10px;
      }
      .link-container a img{
        height:;
        float:left;
        margin-right:20px;
      }
      .east-area{
        float:left;
      }
      .action-box-east{
        height:708px;
        width:750px;
        float:left;
        background-color:white;
      }
      .action-box-north{
        height:708px;
        width:750px;
        float:left;
        background-color:white;
        display:none;
      }
      .action-box-south{
        height:708px;
        width:750px;
        float:left;
        background-color:white;
        display:none;
      }
      .action-box-else{
        height:708px;
        width:750px;
        float:left;
        background-color:white;
        display:none;
      }
      .action-menu{
        height:45px;
        width:750px;
        margin-top:-2px;
        float:left;
        background-color:rgb(243,243,243);
      }
      .action-menu p{
        font-size:18px;
        color:black;
        float:left;
        font-weight:bold;
        padding-top:10px;
        padding-right:20px;
        padding-left:20px;
      }
      .action-menu a img{
        margin-top:5px;
      }
      .action-content-all{
        height:47px;
        width:748px;
        margin-left:2px;
        float:left;
        background-color:white;
        font-size:15px;
        color:black;
        float:left;
        font-weight:bold;
        border-bottom:1px solid;
        border-color:A6B9CE;
      }
      .action-content-all p1{
        float:left;
        padding-top:13px;
        height:46px;
        width:75px;
        text-align:center;
      }
      .action-content-all p2{
        height:46px;
        float:left;
        padding-top:13px;
        width:75px;
        text-align:center;
      }
      .action-content-all p3{
        height:46px;
        float:left;
        padding-top:13px;
        width:75px;
        text-align:center;
      }
      .action-content-all p4{
        height:46px;
        float:left;
        padding-top:13px;
        width:90px;
        text-align:center;
      }
      .action-content-all p5{
        height:46px;
        float:left;
        padding-top:13px;
        width:120px;
        text-align:center;
      }
      .action-content-all p6{
        height:46px;
        float:left;
        padding-top:13px;
        width:125px;
        text-align:center;
      }
      .action-content-all p7{
        height:46px;
        float:left;
        padding-top:13px;
        width:75px;
        text-align:center;
      }
      .action-content-all a img{
        float:left;
        padding:0px;
        margin-top:11px;
        margin-left:30px;
      }
      .action-content-last{
        border:none;
      }
      .new-purchase{
        width:350px;
        height:750px;
        float:left;
        margin-left:8px;
        margin-top:30px;
        background-color:white;
      }
      .purchase-head{
        height:50px;
        width:350px;
        background-color:21A3DE;
        float:left;
      }
      .purchase-head p{
        font-size:21px;
        color:FFFFFF;
        float:left;
        font-weight:bold;
        padding:10px;
        margin-left:15px;
      }
      .purchase-head a{
        font-size:21px;
        color:white;
        float:left;
        font-weight:bold;
        padding:10px;
        margin-left:100px;
        text-decoration:none;
      }
      .purchase-head a:hover{
        color:E4A15D;
      }
      .purchase-content{
        height:100px;
        width:350px;
        border:2px solid;
        border-color:21A3DE;
        border-top:none;
        float:left;
      }
      .purchase-content p1{
        font-size:21px;
        color:3078BE;
        font-weight:bold;
        margin-top:20px;
        text-align:center;
        width:80px;
        float:left;
      }
      .purchase-content p2{
        font-weight:bold;
        margin-left:15px;
        font-size:18px;
        margin-top:23px;
        width:100px;
        float:left;
      }
      .purchase-content p3{
        margin-top:20px;
        margin-left:90px;
        width:60px;
        text-align:center;
        font-weight:bold;
        font-size:21px;
        color:red;
        float:left;
      }
      .purchase-content p4{
        font-weight:bold;
        font-size:18px;
        margin-top:5px;
        text-align:center;
        width:85px;
        float:left;
      }
      .purchase-content p5{
        font-weight:bold;
        margin-top:5px;
        padding-right:5px;
        width:150px;
        margin-left:12px;
        font-size:18px;
        color:5A5A59;
        float:left;
      }
      .purchase-content a img{
        margin-top:5px;
        float:left;
      }
      .nosmoke-area{
        width:1258px;
        height:500px;
        background-color:E8E7E7;
      }
      .nosmoke-img{
        height:280px;
        width:125px;
        background-color:rgb(54,185,172);
        float:left;
        margin-left:12px;
        margin-top:72px;
        border-radius:20px 0 0 20px;
      }
      .nosmoke-img p{
        font-size:36px;
        color:FFFFFF;
        font-weight:bold;
        line-height:40px;
        margin-left:10px;
        margin-top:30px;
      }
      .nosmoke-img img{
        margin-top:20px;
      }
      .nosmoke-content{
        height:450px;
        width:750px;
        margin-top:30px;
        float:left;
      }
      .nosmoke-box{
        height:420px;
        width:750px;
        float:left;
        background-color:white;
      }
      .nosmoke-menu{
        height:45px;
        width:750px;
        margin-top:-2px;
        float:left;
        background-color:rgb(243,243,243);
      }
      .nosmoke-menu p{
        font-size:18px;
        color:black;
        float:left;
        font-weight:bold;
        padding-top:10px;
        padding-right:20px;
        padding-left:20px;
      }
      .nosmoke-menu a img{
        margin-top:5px;
      }
      .nosmoke-content-all{
        height:47px;
        width:748px;
        margin-left:2px;
        float:left;
        background-color:white;
        font-size:15px;
        color:black;
        float:left;
        font-weight:bold;
        border-bottom:1px solid;
        border-color:B6DBB7;
      }
      .nosmoke-content-all p1{
        float:left;
        padding-top:13px;
        height:46px;
        width:75px;
        text-align:center;
      }
      .nosmoke-content-all p2{
        float:left;
        padding-top:13px;
        height:46px;
        width:75px;
        text-align:center;
      }
      .nosmoke-content-all p3{
        float:left;
        padding-top:13px;
        height:46px;
        width:75px;
        text-align:center;
      }
      .nosmoke-content-all p4{
        float:left;
        padding-top:13px;
        height:46px;
        width:90px;
        text-align:center;
      }
      .nosmoke-content-all p5{
        float:left;
        padding-top:13px;
        height:46px;
        width:120px;
        text-align:center;
      }
      .nosmoke-content-all p6{
        float:left;
        padding-top:13px;
        height:46px;
        width:125px;
        text-align:center;
      }
      .nosmoke-content-all p7{
        float:left;
        padding-top:13px;
        height:46px;
        width:75px;
        text-align:center;
      }
      .nosmoke-content-all a img{
        float:left;
        padding:0px;
        margin-top:11px;
        margin-left:30px;
      }
      .nosmoke-content-last{
        border:none;
      }
      .nosmoke-more{
        float:left;
        margin-top:10px;
        margin-left:505px;
      }
      .purchase-nosmoke{
        width:350px;
        height:450px;
        float:left;
        margin-left:8px;
        margin-top:40px;
        background-color:white;
      }
      .nosmoke-purchase{
        background-color:rgb(54,185,172);
      }
      .nosmoke-purchase p{
        color:FFFFFF;
      }
      .nosmoke-content-purchase{
        height:100px;
        width:350px;
        border:2px solid;
        border-color:rgb(54,185,172);
        border-top:none;
        float:left;
      }
      .nosmoke-content-purchase p1{
        font-size:21px;
        color:32AF56;
        font-weight:bold;
        margin-top:20px;
        text-align:center;
        width:95px;
        float:left;
      }
      .nosmoke-content-purchase p2{
        font-weight:bold;
        font-size:18px;
        margin-top:23px;
        width:80px;
        float:left;
      }
      .nosmoke-content-purchase p6{
        font-weight:bold;
        font-size:18px;
        margin-top:23px;
        padding-left:5px;
        width:100px;
        float:left;
      }
      .nosmoke-content-purchase p3{
        margin-top:20px;
        font-weight:bold;
        font-size:21px;
        text-align:center;
        width:60px;
        color:red;
        float:left;
      }
      .nosmoke-content-purchase p4{
        font-weight:bold;
        font-size:18px;
        margin-top:5px;
        text-align:center;
        width:93px;
        float:left;
      }
      .nosmoke-content-purchase p5{
        font-weight:bold;
        margin-top:5px;
        height:25px;
        padding-right:5px;
        width:150px;
        font-size:18px;
        color:5A5A59;
        float:left;
        overflow:hidden;
      }
      .nosmoke-content-purchase a img{
        margin-top:5px;
        float:left;
      }
      .fire-img{
        background-color:rgb(245,170,102);
      }
      .fire-img p{
        color:FFFFFF;
      }
      .fire-menu{
        background-color:rgb(243,243,243);
      }
      .fire-all{
        border-color:EBE166;
      }
      .purchase-fire{
        background-color:rgb(245,170,102);
      }
      .purchase-fire p{
        color:FFFFFF;
      }
      .fire-content{
        border-color:rgb(245,170,102);
      }
      .fire-content p1{
        color:AEA71D;
      }
      .three-container{
        height:250px;
        width:1258px;
        background-color:B5B4B4;
      }
      .the-box{
        height:250px;
        width:419px;
        background-color:white;
        float:left;
      }
      .the-last{
        width:420px;
        margin:0px;
      }
      .the-box img{
        margin-left:100px;
        margin-top:10px;
        float:left;
      }
      .the-box p{
        margin-left:40px;
        margin-top:20px;
        font-weight:bold;
        font-size:24px;
        color:black;
        float:left;
      }
      .inline-box{
        width:390px;
        height:22px;
        margin-left:15px;
        margin-top:5px;
        padding-left:15px;
        border-top:3px solid;
        border-bottom:3px solid;
        border-color:white;
        float:left;
        background-color:rgb(231,231,231);
      }
      .inline-box p{
        margin:0px;
        margin-right:35px;
        padding:0px;
        font-size:12px;
        font-weight:bold;
        float:left;
      }
      .box-content{
        width:390px;
        height:25px;
        margin-left:15px;
        float:left;
        color:black;
        font-size:12px;
        font-weight:bold;
        background-color:rgb(231,231,231);
      }
      .box-content p1{
        width:76px;
        text-align:center;
        float:left;
      }
      .box-content p2{
        float:left;
        text-align:center;
        width:105px;
      }
      .box-content p3{
        float:left;
        text-align:center;
        width:90px;
      }
      .box-content p4{
        float:left;
        text-align:center;
        width:85px;
      }
      .box2 p{
        margin-right:57px;
      }
      .box2 p2{
        width:125px;
      }
      .box2 p3{
        width:48px;
      }
      .box2 p4{
        width:115px;
      }
      .box3 p{
        margin-right:36px;
      }
      .box3 p1{
        width:67px;
      }
      .box3 p2{
        width:78px;
      }
      .box3 p3{
        width:60px;
      }
      .box3 p5{
        width:76px;
        text-align:center;
        float:left;
      }
</style>

