<style>
      a{

      }
      body{
        width:1255px;
      }
      .ui-showcase{
        width:1255px;
        height:500px;
        margin:0px;
        padding:0px;
      }
      .ui_asideMenu{
        width:250px;
        height:500px;
        background:;
        margin:0px;
        padding:0px;
        float:left;
      }
      .action{
        width:250px;
        height:100px;
        background-image:url(../main/picture/cut_23.png);
      }
      .nosmoke{
        width:250px;
        height:100px;
        background-image:url(../main/picture/cut_29.png);
      }
      .fire{
        width:250px;
        height:100px;
        background-image:url(../main/picture/cut_30.png);
      }
      .real{
        width:250px;
        height:200px;
        background-color:B8CEEB;
      }
      .mark{
        background-color:B8CEEB;
        padding-left:50px;
        padding-top:30px;
        font-size:21px;
        font-weight:bold;
      }

      .action-imformation{
        position:absolute;
        display:none;
        left:250px;
        width:250px;
        height:500px;
        background-color:B8CEEB;
        z-index:5000;
        float:left;
      }
      .action-imformation p{
        color:5A5A59;
        font-size:21px;
        padding:10px;
        padding-bottom:0;
      }
      .action-imformation a{
        color:5A5A59;
        font-size:15px;
        padding-left:10px;
        text-decoration:none;
      }
      .action-imformation a:hover{
        color:E4A15D;
      }

      .carousel{
        width:745px;
        height:500px;
        margin-left:5px;
        float:left;
        background-color:B5B4B4;
      }
      .carousel-indicators li {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 1px;
        cursor: pointer;
        background-color:#fff;
        border: 1px solid 5A5A59;
        border-radius: 12px;      
      }
      .carousel-indicators .active {
        width: 24px;
        height: 24px;
        border: 1px solid 5A5A59;
        background-color:5A5A59;
      }
      .leading{
        position:absolute;
        width:34px;
        height:39px;
        top:435px;  
      }
      .left-img{
        width:34px;
        height:39px;
        background-image:url(../main/picture/cut_40.png);
      }
      .right-img{
        width:34px;
        height:39px;
        background-image:url(../main/picture/cut_42.png);
      }
      .leading.left{
        left:100px;
      }
      .leading.right{
        right:100px;
      }
      .cat_zm{
        width:250px;
        height:500px;
        float:left;
        margin-left:5px;
        background-color:B5B4B4;
      }
</style>

