<style>
  a{

  }
  body{
    width:1258px;
    margin:0 auto;
  }
  .header{
    margin:0px;
    padding:0px;
    height:200px;
    width:1258px;
    float:left;
  }
  .top{
    margin:0px;
    padding:0px;
    width:1258px;
    height:50px;
    background-color:rgb(243,243,243);
    float:left;
  }
  .top a img{
    margin-left:10px;
  }
  .top a{
    margin-top:18px;
    font-size:18px;
    color:3078BE;
    text-decoration:none;
    float:left;
  }
  .top a:hover{
    color:E4A15D;
  }
  #free{
    margin-left:20px;
  }
  #login{
    margin-left:40px;
  }
  .top img{
    float:left;
  }
  #phone{
    margin-left:500px;
    margin-top:18px;
  }
  .move-box{
    float:left;
    margin:0px;
    margin-left:5px;
    padding:0px;
    height:50px;
    width:100px;
  }
  #shift{
    margin:0px;
    padding-top:20px;
    height:50px;
  }
  #shift-img{
    margin:0px;
    cursor:pointer;
    margin-left:8px;
    padding-top:27px;
  }
  .help-box{
    float:left;
    margin:0px;
    margin-left:8px;
    padding:0px;
    height:50px;
    width:100px;
  }
  #help{
    margin:0px;
    padding-top:20px;
    height:50px;
  }
  #help-img{
    cursor:pointer;
    margin-left:8px;
    margin-top:27px;
  }
  #tel{
    margin-left:15px;
    margin-top:20px;
  }
  .top p{
    margin-left:5px;
    margin-top:20px;
    font-size:18px;
    color:3078BE;
    float:left;
  }

  .shift-hide{
    position:absolute;
    height:100px;
    width:200px;
    background-color:rgb(243,243,243);
    top:50px;
    left:820px;
    border-radius:0 0 10px 10px;
    display:none;
  }
  .help-hide{
    position:absolute;
    height:100px;
    width:200px;
    background-color:rgb(243,243,243);
    top:50px;
    left:930px;
    border-radius:0 0 10px 10px;
    display:none;
  }
  .logo img{
    margin-left:20px;
    margin-top:10px;
    float:left;
  }
  .nav-link{
    margin-top:85px;
    margin-left:395px;
    height:50px;
    width:681px;
    float:left;
  }
  .nav-link a{
    padding-left:0px;
    padding-top:15px;
    padding-left:35px;
    padding-right:30px;
    font-size:21px;
    color:B5B4B4;
    font-weight:bold;
    text-decoration:none;
    float:left;
  }
  .nav-link a:hover{
    color:E4A15D;
  }
  #slide-act{
    margin-left:30px;
    height:5px;
    width:52px;
    background-color:21A3DE;
    float:left;
  }
</style>
