<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/back.css">
</head>
<body>
	<div class="backTittle">
		<div class="backTittleLogo">找煤宝后台管理<img src="picture/back03.png"></div>
		<div class="backTittleEmail"><img src="picture/back09.png">收件箱</div>
		<div class="backTittleMember"><img src="picture/back06.png">管理员</div>
	</div>
	<table class="backMenuList" border="1">
		<tr>
			<td><img src="picture/back15.png">首页</td>
		</tr>
		<tr>
			<td><img src="picture/back37.png">页面</td>
		</tr>
		<tr>
			<td><img src="picture/back52.png">表格</td>
		</tr>
		<tr>
			<td><img src="picture/back59.png">表单</td>
		</tr>
		<tr>
			<td><img src="picture/back62.png">注销</td>
		</tr>
	</table>
	<div class="backArticleBox">
		<div class="backIssueName">发布文章</div>
		<form class="form-horizontal">
  			<div class="form-group backIssueTitle">
   				<label class="col-sm-1 control-label">文章标题</label>
   				<div class="col-sm-6">
      			<input type="text" class="form-control">
    			</div>
  			</div>
  			<div class="form-group backIssueOrigin">
   				<label class="col-sm-1 control-label">文章作者</label>
   				<div class="col-sm-6">
      			<input type="text" class="form-control">
    			</div>
  			</div>
  			<div class="form-group backIssueArea">
   				<label class="col-sm-1 control-label">文章类别</label>
   				<div class="col-sm-6">
      			<input type="text" class="form-control">
    			</div>
  			</div>
  			<div class="form-group backIssueInner">
   				<label class="col-sm-1 control-label">正文内容</label>
   				<div class="col-sm-8">
      			<textarea rows="25" cols="100" class="form-control"></textarea>
    			</div>
  			</div>
  			<div class="form-group backIssueButtons">
      		<a href="#" class="backIssue02"></a>
      		<a href="#" class="backIssue01"></a>
  			</div>
		</form>
	</div>	
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/jquery.SuperSlide.2.1.1.js"></script>
</body>
</html>