<html>
  <head>
    <title>找煤宝test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/main.css">
  </head>
  <body>
   <div class="main">
     <div class="ui-showcase">
       <div class="ui_asideMenu">
         <div class="action"></div>
         <div class="nosmoke"></div>
         <div class="fire"></div>
         <div class="real">
           <div class="mark">
             <a href="#" class="real-left"><img src="picture/cut_33.png"></a>
             <h>现货行情</h>
             <a href="#"><img src="picture/cut_35.png"></a>
           </div>
         </div>
       </div>

       <div class="action-imformation">
         <p>产地</p>
         <a href="#">四川</a>
         <a href="#">北京</a>
         <hr>
         <p>imformation</p>
         <a href="#">link</a>
         <a href="#">link</a>
         <hr>
         <p>imformation</p>
         <a href="#">link</a>
         <a href="#">link</a>
       </div>
       
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
           <ol class="carousel-indicators">
             <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
             </li>
             <li data-target="#carousel-example-generic" data-slide-to="1"></li>
             <li data-target="#carousel-example-generic" data-slide-to="2"></li>
           </ol>
           <div class="carousel-inner" role="listbox">
             <div class="item active">
               <img src="picture/cut_23.png" alt="...">
               <div class="carousel-caption">
               
               </div>
             </div>
             <div class="item">
               <img src="picture/cut_29.png" alt="...">
               <div class="carousel-caption">
               
               </div>
             </div>
             <div class="item">
               <img src="picture/cut_30.png" alt="...">
               <div class="carousel-caption">
               
               </div>
             </div>
             
           </div>

           <a class="left leading" href="#carousel-example-generic" role="button" data-slide="prev">
             <span aria-hidden="true"><div class="left-img"></div></span>
           </a>
           <a class="right leading" href="#carousel-example-generic" role="button" data-slide="next">
             <span aria-hidden="true"><div class="right-img"></div></span>
           </a>
         </div>
       

       <div class="cat_zm">
         <p>热门资讯</p>
         
         <div class="txtScroll-top">
           <div class="hd">
             <a class="prev" class="top_img"></a>
             <a class="next" class="bottom_img"></a>
           </div>
           <div class="bd">
             <ul class="infoList">
               <li><a href="#">c</a></li>
               <li><a href="#">c++</a></li>
               <li><a href="#">jsp</a></li>
               <li><a href="#">css</a></li>
               <li><a href="#">c#</a></li>
               <li><a href="#">bootstrap</a></li>
               <li><a href="#">superslide</a></li>
               <li><a href="#">熊老师熊老师熊老师熊老师</a></li>
               <li><a href="#">javascript</a></li>
               <li><a href="#">熊老师熊老师熊老师</a></li>
               <li><a href="#">php</a></li>
               <li><a href="#">html</a></li>
               <li><a href="#">熊老师熊老师熊老师熊老师</a></li>
               <li><a href="#">java</a></li>
               <li><a href="#">熊老师熊老师熊老师</a></li>
               <li><a href="#">熊老师熊老师</a></li>
               <li><a href="#">熊老师熊老师熊老师</a></li>
               <li><a href="#">张老汉张老汉张老汉张老汉</a></li>
               <li><a href="#">python</a></li>
               <li><a href="#">张老汉张老汉张老汉</a></li>
               <li><a href="#">张老汉张老汉张老汉张老汉</a></li>
               <li><a href="#">张老汉张老汉张老汉张老汉</a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>

     <div class="ui-wharf">
       <div class="wharf-content">
         <p>XXXXXX码头</p>
         <a href="#"><img src="picture/cut2_09.png" class="pic1"></a>
       </div>
       <div class="wharf-content">
         <p>XXXXXX码头</p>
         <a href="#"><img src="picture/cut2_09.png" class="pic2"></a>
       </div>
       <div class="wharf-content">
         <p>XXXXXX码头</p>
         <a href="#"><img src="picture/cut2_09.png" class="pic3"></a>
       </div>
       <div class="wharf-content">
         <p>XXXXXX码头</p>
         <a href="#"><img src="picture/cut2_09.png" class="pic4"></a>
       </div>
       <div class="wharf-content">
         <p>XXXXXX码头</p>
         <a href="#"><img src="picture/cut2_09.png" class="pic5"></a>
       </div>
       <div class="wharf-content">
         <p>XXXXXX码头</p>
         <a href="#"><img src="picture/cut2_09.png" class="pic6"></a>
       </div>
       <div class="wharf-content-last">
         <p>XXXXXX码头</p>
         <a href="#"><img src="picture/cut2_09.png" class="pic7"></a>
       </div>

       <div class="wharf-bill">
         <img src="picture/cut2_02.png">
         <p>成交单数</p>
         <span>2333</span>
         <p2>单</p2>
       </div>
       <div class="wharf-all">
         <img src="picture/cut2_12.png">
         <p>成交单数</p>
         <span>2333</span>
         <p2>单</p2>
       </div>
     </div>



     <div class="action-area">
       <div class="action-img">
         <p>动力煤 &nbsp;&nbsp;专区</p>
         <img src="picture/cut2_37.png">
       </div>
       <div class="action-content">
         <div class="link-container">
           <a><img src="picture/cut2_change_18.png" class="east-area"></a>
           <a><img src="picture/cut2_20.png" class="north-area"></a>
           <a><img src="picture/cut2_22.png" class="south-area"></a>
           <a><img src="picture/cut2_24.png" class="else-area"></a>
           <a href="#" class="more">更多</a>
         </div>
         <div class="action-box">
           <div class="action-menu">
             <p>分类</p>
             <p>品名</p>
             <p>热值</p>
             <p>全硫份</p>
             <p>库存（吨）</p>
             <p>交割地</p>
             <p>价格（元）</p>
             <a href="#"><img src="picture/f5_03.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
           <div class="action-content-all action-content-last">
             <p1>动力煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_33.png"></a>
           </div>
         </div>
       </div>
       <div class="new-purchase">
         <div class="purchase-head">
           <p>最新采购需求</p>
           <a href="#">更多</a>
         </div>
         <div class="purchase-content">
           <p1>动力煤</p1><p2>0000大卡</p2><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_31.png"></a>
         </div>
         <div class="purchase-content">
           <p1>动力煤</p1><p2>0000大卡</p2><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_31.png"></a>
         </div>
         <div class="purchase-content">
           <p1>动力煤</p1><p2>0000大卡</p2><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_31.png"></a>
         </div>
         <div class="purchase-content">
           <p1>动力煤</p1><p2>0000大卡</p2><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_31.png"></a>
         </div>
         <div class="purchase-content">
           <p1>动力煤</p1><p2>0000大卡</p2><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_31.png"></a>
         </div>
         <div class="purchase-content">
           <p1>动力煤</p1><p2>0000大卡</p2><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_31.png"></a>
         </div>
         <div class="purchase-content">
           <p1>动力煤</p1><p2>0000大卡</p2><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_31.png"></a>
         </div>
       </div>
     </div>
     
     <div class="nosmoke-area">
       <div class="nosmoke-img">
         <p>无烟煤 &nbsp;&nbsp;专区</p>
         <img src="picture/cut2_50.png">
       </div>
       <div class="nosmoke-content">
         <div class="link-container">
           <a><img src="picture/cut2_41.png"></a>
           <a href="#" class="nosmoke-more">更多</a>
         </div>
         <div class="nosmoke-box">
           <div class="nosmoke-menu">
             <p>分类</p>
             <p>品名</p>
             <p>热值</p>
             <p>全硫份</p>
             <p>库存（吨）</p>
             <p>交割地</p>
             <p>价格（元）</p>
             <a href="#"><img src="picture/f5_03.png"></a>
           </div>
           <div class="nosmoke-content-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_44.png"></a>
           </div>
           <div class="nosmoke-content-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_44.png"></a>
           </div>
           <div class="nosmoke-content-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_44.png"></a>
           </div>
           <div class="nosmoke-content-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_44.png"></a>
           </div>
           <div class="nosmoke-content-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_44.png"></a>
           </div>
           <div class="nosmoke-content-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_44.png"></a>
           </div>
           <div class="nosmoke-content-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_44.png"></a>
           </div>
           <div class="nosmoke-content-all nosmoke-content-last">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_44.png"></a>
           </div>
         </div>
       </div>
       <div class="purchase-nosmoke">
         <div class="purchase-head nosmoke-purchase">
           <p>最新采购需求</p>
           <a href="#">更多</a>
         </div>
         <div class="nosmoke-content-purchase">
           <p1>无烟煤</p1><p2>0000大卡</p2><p6>硫分:0.00</p6><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_47.png"></a>
         </div>
         <div class="nosmoke-content-purchase">
           <p1>无烟煤</p1><p2>0000大卡</p2><p6>硫分:0.00</p6><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_47.png"></a>
         </div>
         <div class="nosmoke-content-purchase">
           <p1>无烟煤</p1><p2>0000大卡</p2><p6>硫分:0.00</p6><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_47.png"></a>
         </div>
         <div class="nosmoke-content-purchase">
           <p1>无烟煤</p1><p2>0000大卡</p2><p6>硫分:0.00</p6><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_47.png"></a>
         </div>
       </div>
     </div>

     <div class="nosmoke-area">
       <div class="nosmoke-img fire-img">
         <p>炼焦煤 &nbsp;&nbsp;专区</p>
         <img src="picture/cut2_61.png">
       </div>
       <div class="nosmoke-content">
         <div class="link-container">
           <a><img src="picture/cut2_52.png"></a>
           <a href="#" class="nosmoke-more">更多</a>
         </div>
         <div class="nosmoke-box">
           <div class="nosmoke-menu fire-menu">
             <p>分类</p>
             <p>品名</p>
             <p>热值</p>
             <p>全硫份</p>
             <p>库存（吨）</p>
             <p>交割地</p>
             <p>价格（元）</p>
             <a href="#"><img src="picture/f5_03.png"></a>
           </div>
           <div class="nosmoke-content-all fire-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_56.png"></a>
           </div>
           <div class="nosmoke-content-all fire-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_56.png"></a>
           </div>
           <div class="nosmoke-content-all fire-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_56.png"></a>
           </div>
           <div class="nosmoke-content-all fire-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_56.png"></a>
           </div>
           <div class="nosmoke-content-all fire-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_56.png"></a>
           </div>
           <div class="nosmoke-content-all fire-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_56.png"></a>
           </div>
           <div class="nosmoke-content-all fire-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_56.png"></a>
           </div>
           <div class="nosmoke-content-all nosmoke-content-last fire-all">
             <p1>无烟煤</p1>
             <p2>石炭7</p2>
             <p3>4984</p3>
             <p4>0.51</p4>
             <p5>45，000</p5>
             <p6>中信江阴码头</p6>
             <p7>375</p7>
             <a href="#"><img src="picture/cut2_56.png"></a>
           </div>
         </div>
       </div>
       <div class="purchase-nosmoke">
         <div class="purchase-head purchase-fire">
           <p>最新采购需求</p>
           <a href="#">更多</a>
         </div>
         <div class="nosmoke-content-purchase fire-content">
           <p1>炼焦煤</p1><p2>0000大卡</p2><p6>Y值:15</p6><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_59.png"></a>
         </div>
         <div class="nosmoke-content-purchase fire-content">
           <p1>炼焦煤</p1><p2>0000大卡</p2><p6>Y值:15</p6><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_59.png"></a>
         </div>
         <div class="nosmoke-content-purchase fire-content">
           <p1>炼焦煤</p1><p2>0000大卡</p2><p6>Y值:15</p6><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_59.png"></a>
         </div>
         <div class="nosmoke-content-purchase fire-content">
           <p1>炼焦煤</p1><p2>0000大卡</p2><p6>Y值:15</p6><p3>价格</p3><p4>0000吨</p4><p5>地点</p5>
           <a href="#"><img src="picture/cut2_59.png"></a>
         </div>
       </div>
     </div>
     
     <div class="three-container">
       <div class="the-box">
         <img src="picture/cut2_68.png">
         <p>电厂库存</p>
         <div class="inline-box">
           <p>电厂名称</p><p>库存量(万吨)</p><p>日耗(万吨)</p><p>可用天数</p>
         </div>
         <div class="box-content">
           <p1>上电</p1><p2>41.5</p2><p3>1.50</p3><p4>27.7</p4>
         </div>
         <div class="box-content">
           <p1>上电</p1><p2>41.5</p2><p3>1.50</p3><p4>27.7</p4>
         </div>
         <div class="box-content">
           <p1>上电</p1><p2>41.5</p2><p3>1.50</p3><p4>27.7</p4>
         </div>
         <div class="box-content">
           <p1>上电</p1><p2>41.5</p2><p3>1.50</p3><p4>27.7</p4>
         </div>
         <div class="box-content">
           <p1>上电</p1><p2>41.5</p2><p3>1.50</p3><p4>27.7</p4>
         </div>
         <div class="box-content">
           <p1>上电</p1><p2>41.5</p2><p3>1.50</p3><p4>27.7</p4>
         </div>
       </div>
       <div class="the-box">
         <img src="picture/cut2_71.png">
         <p>港口库存</p>
         <div class="inline-box box2">
           <p>港口名称</p><p>库存量</p><p>增减</p><p>单位</p>
         </div>
         <div class="box-content box2">
           <p1>秦皇岛</p1><p2>665.60</p2><p3>47.60</p3><p4>万吨</p4>
         </div>
         <div class="box-content box2">
           <p1>秦皇岛</p1><p2>665.60</p2><p3>47.60</p3><p4>万吨</p4>
         </div>
         <div class="box-content box2">
           <p1>秦皇岛</p1><p2>665.60</p2><p3>47.60</p3><p4>万吨</p4>
         </div>
         <div class="box-content box2">
           <p1>秦皇岛</p1><p2>665.60</p2><p3>47.60</p3><p4>万吨</p4>
         </div>
         <div class="box-content box2">
           <p1>秦皇岛</p1><p2>665.60</p2><p3>47.60</p3><p4>万吨</p4>
         </div>
         <div class="box-content box2">
           <p1>秦皇岛</p1><p2>665.60</p2><p3>47.60</p3><p4>万吨</p4>
         </div>
       </div>
       <div class="the-box the-last">
         <img src="picture/cut2_65.png">
         <p>海运价格</p>
         <div class="inline-box box3">
           <p>起始港</p><p>目的港</p><p>船型</p><p>运费(元/吨)</p><p>变化</p>
         </div>
         <div class="box-content box3">
           <p1>秦皇岛</p1><p2>张家港</p2><p3>2-3万吨</p3><p4>23.80</p4><p5>0.02</p5>
         </div>
         <div class="box-content box3">
           <p1>秦皇岛</p1><p2>张家港</p2><p3>2-3万吨</p3><p4>23.80</p4><p5>0.02</p5>
         </div>
         <div class="box-content box3">
           <p1>秦皇岛</p1><p2>张家港</p2><p3>2-3万吨</p3><p4>23.80</p4><p5>0.02</p5>
         </div>
         <div class="box-content box3">
           <p1>秦皇岛</p1><p2>张家港</p2><p3>2-3万吨</p3><p4>23.80</p4><p5>0.02</p5>
         </div>
         <div class="box-content box3">
           <p1>秦皇岛</p1><p2>张家港</p2><p3>2-3万吨</p3><p4>23.80</p4><p5>0.02</p5>
         </div>
         <div class="box-content box3">
           <p1>秦皇岛</p1><p2>张家港</p2><p3>2-3万吨</p3><p4>23.80</p4><p5>0.02</p5>
         </div>
       </div>
     </div>
   </div>

   <div class="footer">
     <div class="footer-content">
       <div class="friend-link">
         <img src="picture/cut2_77.png">
         <p>友情链接</p>
         <a href="#">XX网</a>
         <a href="#">XX网</a>
       </div>
       <div class="friend-link buybuy">
         <img src="picture/cut2_83.png">
         <p>我要买</p>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
       </div>
       <div class="friend-link sell">
         <img src="picture/cut2_85.png">
         <p>我要卖</p>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
       </div>
       <div class="friend-link help">
         <img src="picture/cut2_80.png">
         <p>帮助</p>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
       </div>
       <div class="friend-link care">
         <img src="picture/cut2_88.png">
         <p>关注我们</p>
         <div class="picture1">picture1</div>
         <div class="picture2">picture2</div>
       </div>
     </div>
     <div class="footer-copyright">
       <div class="line-one">
         <a href="#">关于我们</a>
         <a href="#">意见反馈</a>
         <a href="#">法律声明</a>
         <a href="#">诚聘英才</a>
         <a href="#">联系我们</a>
         <a href="#">CEO邮箱</a>
         <a href="#">友情链接</a>
       </div>
       <div class="line-two">
         <p>COPYRIGHT © 找煤网 <a href="#">www.xxxxxxxx.com</a> 浙ICP备10000000号</p>
       </div>
     </div>
   </div>

  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/jquery.SuperSlide.2.1.1.js"></script>
  <script src="../js/main.js"></script>
  </body>
</html>