<html>
	<head>
		<title>现货行情</title>
		<meta charset="utf-8">
		<link href="../style/spot-quotation.css" rel="stylesheet">
	</head>
	<body>
		<div class="main">

			<div class="left-box">
				<div class="top-class">
					<div class="meishi-box meishi-quotation">
						煤市行情
					</div>
					<div class="meishi-box meishi-know">
						媒市资讯
					</div>
					<div class="meishi-box meishi-storage">
						物流仓储
					</div>
					<div class="meishi-box meishi-index">
						指数及价格
					</div>
					<div class="meishi-else"></div>
				</div>
				<div class="information-box">
					<div class="line-one"><p1>12月煤炭业持续低迷 煤企面临转型抉择</p1><p2>2015-12-09</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师卖断了煤市</p1><p2>2016-2-14</p2></div>
				</div>
			</div>

			<div class="right-top-box">
				<div class="head-box">
					免费发布采购
				</div>
				<div class="content-box">
					
				</div>
			</div>
		</div>

	</body>
</html>