<html>
  <head>
    <title>footer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/footer.css">
  </head>
  <body>
    <div class="footer">
     <div class="footer-content">
       <div class="friend-link">
         <img src="img/cut2_77.png">
         <p>友情链接</p>
         <a href="#">XX网</a>
         <a href="#">XX网</a>
       </div>
       <div class="friend-link buybuy">
         <img src="img/cut2_83.png">
         <p>我要买</p>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
       </div>
       <div class="friend-link sell">
         <img src="img/cut2_85.png">
         <p>我要卖</p>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
       </div>
       <div class="friend-link help">
         <img src="img/cut2_80.png">
         <p>帮助</p>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
         <a href="#">XXXXXxxxxxx</a>
       </div>
       <div class="friend-link care">
         <img src="img/cut2_88.png">
         <p>关注我们</p>
         <div class="picture1">picture1</div>
         <div class="picture2">picture2</div>
       </div>
     </div>
     <div class="footer-copyright">
       <div class="line-one">
         <a href="#">关于我们</a>
         <a href="#">意见反馈</a>
         <a href="#">法律声明</a>
         <a href="#">诚聘英才</a>
         <a href="#">联系我们</a>
         <a href="#">CEO邮箱</a>
         <a href="#">友情链接</a>
       </div>
       <div class="line-two">
         <p>COPYRIGHT © 找煤网 <a href="#">www.xxxxxxxx.com</a> 浙ICP备10000000号</p>
       </div>
     </div>
   </div>

  </body>
</html>