<html>
  <head>
    <title>找煤宝test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/public.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid zmbNavbar">
      <ul class="nav navbar-nav">
        <li><img src="img/nav-home.png" class="nav-home"></li>
        <li class="font"><a href="#">首页</a></li>
        <li class="break">⎜</li>
        <li><a href="#" class="nav-register">免费注册</a></li>
        <li><a href="#">立即登录</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-phone"><img src="img/nav-phone.png"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">移动平台<span> <img src="img/nav-more.png"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">这是二维码</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span></span>帮助中心<span> <img src="img/nav-more.png"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">这是二维码</a></li>
          </ul>
        </li>
        <li class="nav-tel"><img src="img/nav-tel.png">服务热线：000-000-0000</li>
      </ul>
    </div>
  </div>
   </nav>

  <div class="nav-img">
    <div class="nav-logo">
      <img src="img/nav-logo.png">
    </div>
  </div>


   
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>
  </body>
</html>