<html>
  <head>
    <title>采购信息</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/purchase.css">
  </head>
  <body>
    <div class="main">
      <div class="search">
        <p>分布</p>
        <input type="text" name="distribution" class="big-text">
        <p>交割地</p>
        <input type="text" name="area_one">
        <input type="text" name="area_two">
        <input type="text" name="area_three">
        <p>采购单号</p>
        <input type="text" name="number">
        <img src="picture/cut_03.png">
      </div>
      
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>

    </div>

  </body>

</html>