<html>
  <head>
    <title>采购信息</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/purchase.css">
  </head>
  <body>
    <div class="main">
      <div class="search">
        <p>分布</p>
        <input type="text" name="distribution" class="big-text">
        <p>交割地</p>
        <input type="text" name="area_one">
        <input type="text" name="area_two">
        <input type="text" name="area_three">
        <p>采购单号</p>
        <input type="text" name="number">
        <img src="picture/cut_03.png">
      </div>
      
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"><a></div>
      </div>
      <div class="main-infor">
        <p1>采购单号&nbsp;:</p1>
        <p2>ZS218375847&nbsp;&nbsp;&nbsp;&nbsp;</p2>
        <p1>发布时间&nbsp;:</p1>
        <p3>2015-12-05&nbsp;&nbsp;16&nbsp;:&nbsp;27</p3>
        <p4>动力煤&nbsp;&nbsp;700吨&nbsp;,&nbsp;5500</p4>
        <p7>待报价</p7>
        <p5>400.00</p5>
        <p6>元&nbsp;&nbsp;&nbsp;(平仓价)&nbsp;&nbsp;&nbsp;交货地&nbsp;:&nbsp;江苏省长江沿岸平仓</p6>
        <a href="#"><img src="picture/cut_19.png"></a>
        <img src="picture/cut_29.png">
        <p8>跟进交易员&nbsp;:&nbsp;XXX</p8><div class="line"></div>
        <img src="picture/cut_26.png">
        <p8>&nbsp;&nbsp;&nbsp;&nbsp;400-065-6868</p8><div class="line-two"></div>
        <div><a href="#"><img src="picture/cut_22.png"></a></div>
      </div>

      <div class="entrust">
        <p>免费发布采购</p>
        <a href="#"><img src="picture/cut_change_10.png" class="img-first"></a>
        <a href="#"><img src="picture/cut_07.png" class="img-sec"></a>
        <a href="#"><img src="picture/cut_13.png" class="img-thr"></a>
        <textarea name="entrust-content"></textarea>
        <img src="picture/cut_35.png" class="entrust-btn">
      </div>

      <div class="nearnow">
        <p>最近成交</p>
        <div class="menu">
          <p1>时间</p1><p2>详细内容</p2><p3>地点</p3>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
      </div>

      <div class="stockButtonBox">
      <div class="stockButtons">
        <input type="button" class="stockButton stockButtonPrePre" value=" ">
        <input type="button" class="stockButton stockButtonPre" value=" ">
        <input type="button" class="stockButton" value="1">
        <input type="button" class="stockButton" value="2">
        <input type="button" class="stockButton" value="3">
        <input type="button" class="stockButton" value="4">
        <input type="button" class="stockButton" value="5">
        <input type="button" class="stockButton" value="6">
        <input type="button" class="stockButton" value="7">
        <input type="button" class="stockButton" value="8">
        <input type="button" class="stockButton" value="9">
        <input type="button" class="stockButton" value="10">
        <input type="button" class="stockButton" value="...">
        <input type="button" class="stockButton stockButtonNext" value=" ">
        <input type="button" class="stockButton stockButtonNextNext" value=" ">
      </div>
    </div>
    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/purchase.js"></script>
  </body>

</html>