	select{
		width:70px;
		float:left;
		margin-left:10px;
		margin-top:5px;
	}
	input{
		width:100px;
		height:30px;
		float:left;
		margin-left:10px;
		border-radius:5px;
		background-image:none;
		font-size:18px;
		color:black;
		outline:none;
		border:1px solid black;
	}
	span{
		float:left;
	}
	.main{
		width:1258px;
		float:left;
		border-right:1px solid;
		border-color:rgb(193,211,229);
	}
	.common-box a{
		margin-top:28px !important;
	}
	.right-box{
		margin:0px;
		width:1057px;
		height:800px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-top:none;
		border-right:none;
		float:left;
	}
	.right-box p1{
		margin-top:35px;
		margin-left:30px;
		width:300px;
		color:rgb(109,163,210);
		font-size:21px;
		float:left;
	}
	.table-one{
		margin-top:10px;
		margin-left:20px;
		border:1px solid;
		border-left:none;
		border-top:none;
		border-color:rgb(193,211,229);
		float:left;
		height:320px;
		width:900px;
	}
	.table-one p1{
		width:99px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.table-one p2{
		width:349px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		/*text-align:center;*/
		padding-top:5px;
		color:black;

	}
	.table-one p3{
		width:799px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		/*text-align:center;*/
		padding-top:5px;
		color:black;
	}
	#age{
		width:100px;
		height:40px;
		float:left;

	}
	.table-three{
		width:900px;
		height:240px;
		text-align:center;
		color:black;
		border:1px solid;
		border-left:none;
		border-top:none;
		border-color:rgb(193,211,229);
		float:left;
		margin-top:30px;
		margin-left:20px;
	}
	.table-three input{
		width:60px !important;
	}
	.noborder{
		border-top:none !important;
	}
	.first-blue{
		width:889px;
		height:39px;
		float:left;
		color:white;
		text-align:left;
		padding-left:10px;
		line-height:39px;
		background-color:rgb(106,164,210);
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
	}
	.left-big-one{
		width:99px;
		padding-top:10px;
		font-size:28px;
		height:69px;
		float:left;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
	}
	.left-big-two{
		width:99px;
		padding-top:10px;
		font-size:28px;
		height:109px;
		float:left;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
	}
	.table-three p1{
		width:199px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		line-height:30px;
		color:black;
		font-size:16px;
	}
	.table-three p2{
		width:99px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		line-height:30px;
		padding-top:5px;
		color:black;
		font-size:16px;
	}
	.table-three p3{
		width:299px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
		font-size:16px;
		line-height:30px;
	}
	.table-three p4{
		width:399px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
		font-size:16px;
		line-height:30px;
	}
	.last-box{
		width:799px;
		height:34px;
		border:1px solid;
		border-color:rgb(193,211,229);
		border-bottom:none;
		border-right:none;
		margin:0px;
		padding:0px;
		float:left;
		text-align:center;
		padding-top:5px;
		color:black;
	}
	.last-box img{
		margin-left:10px;
		cursor:pointer;
	}
	#btn-add{
		cursor:pointer;
		margin-left:5px;
		margin-top:5px;
	}
	#btn-delete{
		cursor:pointer;
		margin-left:5px;
		margin-top:2px;
	}
	.last-table{
		margin-top:25px;
		margin-left:660px;
		width:260px;
		height:60px;
		float:left;
	}
	.last-table a{
		margin-top:20px;
		color:rgb(182,205,231);
		text-decoration:none;
		font-size:16px;
		float:left;
	}
	.last-table a:hover{
		color:E4A15D;
	}
	.last-table img{
		/*margin-top:10px;*/
		cursor:pointer;
		margin-left:30px;
	}
	#vldterm{
		font-size:14px;
		width:180px;
	}
	#style,#infor_ctgid0,#infor_ctgid1,#paytype0,#paytype1,#paytype2,#pdtype0,#pdtype1,#onsale0,#onsale1{
		margin-top:0px !important;
		margin-right:0px !important;
		width:30px !important;
	}
	#stock{
		margin-right:10px;
	}
	#indid{
		width:150px;
	}
	#dppid{
		width:200px;
	}
	#price{
		margin-right:10px;
	}
	#open-price{
		margin-top:0px;
		margin-right:0px;
		width:30px;
	}
	#minprice{
		margin-right:10px;
		width:60px;
	}
	#maxprice{
		margin-right:10px;
		width:60px;
	}
	#remark{
		width:700px;
	}
	#unitprice{
		margin-right:10px;
		width:60px;
	}
	#prsr{
		width:250px;
	}
	#fpexplain{
		width:320px;
	}
	#fpname{
		width:125px;
	}
	#aar , #star,#varr,#fcar,#qnetar{
		margin-left:15px;
	}
	#szuplm,#szppt{
		margin-right:10px;
	}
	.extend{
		height:39px !important;
		padding:0px !important;
		line-height:20px !important;

	}
	#pdtype0,#pdtype1,#stock{
		float:left;
		display:none;
	}
	.txt_pdtype{
		float:left !important;
		display:none;
	}
	#loc_province,#loc_city{
		font-family:'微软雅黑',Arial, Helvetica, sans-serif;
	}
	.if_onsale{
		display:none;
	}
	.span_add1,.span_add2,.span_add3{
		margin-left:10px;
		float:left;
	}
	.change_p1,.change_p2,.change_p3{
		width:60px;
		height:30px;
		background-color:#3084BE;
		text-align:center;
		color:white;
		float:left;
		border-radius:5px;
		margin-left:10px;
		cursor:pointer;
	}
	#hide1,#hide2,#hide3{
		display:none;
		float:left;
	}