      <div class="left-box">
        <div class="common-box"><div class="img-box"><img src="/static/pictures/left_01.png"></div><a href="#">首页</a></div>
        <div class="common-box"><div class="img-box"><img src="/static/pictures/left_02.png"></div><a href="#">产品列表</a></div>
        <div class="common-box"><div class="img-box"><img src="/static/pictures/left_03.png"></div><a href="#">产品发布</a></div>
        <div class="common-box"><div class="img-box"><img src="/static/pictures/left_02.png"></div><a href="{{ url_for('admin.article_list')}}">文章列表</a></div>
        <div class="common-box"><div class="img-box"><img src="/static/pictures/left_04.png"></div><a href="{{ url_for('admin.create_article') }}">文章发布</a></div>
        <div class="common-box"><div class="img-box"><img src="/static/pictures/left_05.png"></div><a href="#">注销</a></div>
      </div>