<html>
	<head>
		<title>现货行情</title>
		<meta charset="utf-8">
		<link href="../style/spot-quotation.css" rel="stylesheet">
	</head>
	<body>
		<div class="main">

			<div class="left-box">
				<div class="top-class">
					<div class="meishi-box meishi-quotation">
						煤市行情
					</div>
					<div class="meishi-box meishi-know">
						媒市资讯
					</div>
					<div class="meishi-box meishi-storage">
						物流仓储
					</div>
					<div class="meishi-box meishi-index">
						指数及价格
					</div>
					<div class="meishi-else"></div>
				</div>
				<div class="information-box information-box-one">
					<div class="line-one"><p1>12月煤炭业持续低迷 煤企面临转型抉择</p1><p2>2015-12-09</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市1</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
				</div>
				<div class="information-box information-box-two">
					<div class="line-one"><p1>12月煤炭业持续低迷 煤企面临转型抉择</p1><p2>2015-12-09</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市2</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
				</div>
				<div class="information-box information-box-three">
					<div class="line-one"><p1>12月煤炭业持续低迷 煤企面临转型抉择</p1><p2>2015-12-09</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市3</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
				</div>
				<div class="information-box information-box-four">
					<div class="line-one"><p1>12月煤炭业持续低迷 煤企面临转型抉择</p1><p2>2015-12-09</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市4</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
					<div class="line-one line-content"><p1>熊老师买断了煤市</p1><p2>2016-2-14</p2></div>
				</div>
			</div>

			<div class="right-top-box">
				<div class="head-box">
					免费发布采购
				</div>
				<div class="content-box">
					<img src="picture/cut_change_10.png" id="img-one">
					<img src="picture/cut_07.png" id="img-two">
					<img src="picture/cut_13.png" id="img-three">
					<textarea class="entrust"></textarea>
					<img src="picture/cut_35.png" id="img-four">
				</div>
			</div>

			<div class="nearnow">
       	    	<p>最近成交</p>
        		<div class="menu">
          			<p1>时间</p1><p2>详细内容</p2><p3>地点</p3>
        		</div>
        		<div class="trade-content">
          			<p1>7天前</p1><p2>熊＊＊成功以398.9元/吨采购了</p2><p3>四个字</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        		</div>
        		<div class="trade-content">
		            <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        		</div>
        		<div class="trade-content">
          			<p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        		</div>
        		<div class="trade-content">
          			<p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        		</div>
        		<div class="trade-content">
          			<p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        		</div>
        		<div class="trade-content">
          			<p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        		</div>
        	
      		</div>

      		<div class="stockButtonBox">
        		<div class="stockButtons">
            		<input type="button" class="stockButton stockButtonPrePre" value=" ">
            		<input type="button" class="stockButton stockButtonPre" value=" ">
		            <input type="button" class="stockButton" value="1">
		            <input type="button" class="stockButton" value="2">
		            <input type="button" class="stockButton" value="3">
		            <input type="button" class="stockButton" value="4">
		            <input type="button" class="stockButton" value="5">
		            <input type="button" class="stockButton" value="6">
		            <input type="button" class="stockButton" value="7">
		            <input type="button" class="stockButton" value="8">
		            <input type="button" class="stockButton" value="9">
		            <input type="button" class="stockButton" value="10">
		            <input type="button" class="stockButton" value="...">
		            <input type="button" class="stockButton stockButtonNext" value=" ">
		            <input type="button" class="stockButton stockButtonNextNext" value=" ">
        		</div>
     		</div>
		</div>

		<script src="../js/jquery.js"></script>
		<script src="../js/spot-quotation.js"></script>
	</body>
</html>