<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章列表</title>
    <link rel="stylesheet" href="/static/style/bootstrap.css">
    <link rel="stylesheet" href="/static/style/back.css">
    <link href="/static/style/back-common.css" rel="stylesheet">
</head>
<body>
      {% include 'util/admin/top.html' %}

      {% include 'util/admin/left-box.html' %}
	<div class="backArticleBox">
    <div class="backArticleName">文章列表</div>
		<table class="backArticleMenuBox" border="1">
			<tr>
				<td class="backArticleMenuNew"><a href="#"></a></td>
				<td class="backArticleMenuSave"><a href="#"></a></td>
				<td class="backArticleMenuSee"><a href="#"></a></td>
				<td class="backArticleMenuDelete"><a href="#"></a></td>
			</tr>
		</table>
		<div class="backArticleMenuOptions">
			<select name="cars" class="form-control">
				<option value="all">所有类别</option>
				<option value="option1">类别1</option>
				<option value="option2">类别2</option>
				<option value="option3">类别3</option>
			<div class="form-group">
    			<input type="text" class="form-control" placeholder="搜索文章">
    			<button class="btn btn-default">搜索</button>
    		</div>
		<div class="backArticleTable">
    	<div class="checkboxNormal">
      	<input type="checkbox">
      	<div class="checkboxID">ID</div>
      	<div class="checkboxTitle">标题</div>
      	<div class="checkboxType">类别</div>
      	<div class="checkboxOrigin">作者</div>
      	<div class="checkboxDate">日期</div>
      	<div class="checkboxOption">操作</div>
    	</div>
      {% for article in articles %}
    	<div class="checkboxNormal">
      	<input type="checkbox">
      	<div class="checkboxID">{{article.id}}</div>
      	<div class="checkboxTitle checkboxShowModal" data='123'>{{article.title}}</div>
      	<div class="checkboxType">{{article.category.name}}</div>
      	<div class="checkboxOrigin">{{article.author.username}}</div>
      	<div class="checkboxDate">{{format_datetime(article.rldate)}}</div>
      	<div class="checkboxOption">
      		<table border="1">
      			<tr>
      				<td><a class="checkboxOptionEdit" href="{{url_for('admin.modify_article', id=article.id)}}"></a></td>
      				<td><a class="checkboxOptionCopy" href="#"></a></td>
      				<td><a class="checkboxOptionDelete" href="#"></a></td>
      			</tr>
      		</table>
      	</div>
    	</div>
      {% endfor %}
    	<div class="stockButtonBox">
			<ul class="stockButtons">
				<li type="button" class="stockButton stockButtonPrePre" value=" ">
				<li type="button" class="stockButton stockButtonPre" value=" ">
				{% for p in pagination.iter_pages() %}
          {% if p %}
            {% if p == pagination.page %}
            <li type="button" class="stockButton" ><a href="{{ url_for('admin.article_list', page=p, count=count) }}">{{p}}</a></li>
            {% else %}
            <li type="button" class="stockButton" ><a href="{{ url_for('admin.article_list', page=p, count=count) }}">{{p}}</a></li>
            {% endif %}
          {% else %}
          <li type="button" class="stockButton" ><a href="#">&hellip;</a></li>
          {% endif %}
        {% endfor %}
				<li type="button" class="stockButton" value="10">
				<li type="button" class="stockButton" value="...">
				<li type="button" class="stockButton stockButtonNext" value=" ">
				<li type="button" class="stockButton stockButtonNextNext" value=" ">
			</ul>
		</div>
		</div>
	</div>	

  <div class="modal fade ModalToShow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
  <script>
    $('.checkboxShowModal').click(function(){
      var issueID = $(this).siblings('.checkboxID').text();
        $.ajax({  
          type:'get',  
          url : '/api/admin/get/article/' + issueID,   
          success  : function(data) {  
              $('.ModalToShow')
              .modal({ "show": true, backdrop: true })
              .find('.modal-header').children('h4').text(data.data.title + '   ------  ' + data.data.ctgid);
              $('.ModalToShow').find('.modal-body').find('p').text(data.data.body);
          },  
          error : function() {  
              alert('通信出问题了');  
          }  
        });            
    });

    $('.checkboxOptionDelete').click(function(){
      var issueID = $(this).parents('.checkboxOption').siblings('.checkboxID').text();
      $.ajax({
        type:'get',
        url : '/api/admin/delete/article/' + issueID,
        success : function(data) {
          alert('删除成功');
          window.location.reload();
        },
        error : function(){
          alert('通信出问题了'); 
        }
      });
    });
  </script>
</body>
</html>