<html>
	<head>
		<title>修改产品</title>
		<meta charset="utf-8">
		<link href="/static/style/bootstrap.css" rel="stylesheet">
		<link href="/static/style/back-common.css" rel="stylesheet">
		<link href="/static/style/select2.css" rel="stylesheet">
		<link href="/static/style/back-publish.css" rel="stylesheet">
	</head>
	<body>
		<div class="main">
			{% include 'util/admin/top.html' %}

			{% include 'util/admin/left-box.html' %}
			<div class="right-box">
				<p1>修改产品</p1>
				<div class="table-one">
					<p1>信息分类</p1><p2><input type="radio" name="infor_ctgid" id="infor_ctgid0" value="0" disabled {% if product.typeid == 0%}datachecked="true" checked{% endif %}><span>需求</span><input type="radio" name="infor_ctgid" id="infor_ctgid1" value="1" disabled {% if product.typeid == 1%}datachecked="true" checked{% endif %}><span>供货</span></p2><p1 class="txt_type">支付类型</p1><p2><input type="radio" name="paytype" id="paytype0" value="1" checked><span class="txt_paytype">现汇</span><input type="radio" name="paytype" id="paytype1" value="2"><span class="txt_paytype">支票</span><input type="radio" name="paytype" id="paytype2" value="3"><span class="txt_paytype">电汇</span>
					<input type="radio" name="pdtype" id="pdtype0" value="0" checked><span class="txt_pdtype">期货</span><input type="radio" name="pdtype" id="pdtype1" value="1"><span class="txt_pdtype">现货</span></p2>

					<p1>分类</p1><p2><select name="ctgid" id="ctgid" class="form-control">
					{% for c in category %}
					<option value="{{c.id}}">{{c.name}}</option>
					{% endfor %}
					</select></p2><p1>煤种</p1><p2><input type="text" name="coal" id="coal" value="{{product.coal}}" class="form-control"></p2>

					<p1>订单号</p1><p2><span id="left_move">{{product.ordnum}}</span></p2><p1>产地</p1><p2 class="span_add1"><span class="span_add1">{{product.pdpid|province_filter}}</span><span class="span_add1">{{city_filter(product.pdpid, product.pdcid)}}</span><div class="change_p1">更改</div></p2><p2 id="hide1"><select id="pdpid" style="width:100px;margin-left:10px;"></select><select id="pdcid" style="width:100px; margin-left: 10px;"></select></p2>

					<p1>有效期</p1><p2><input type="date" name="vldterm" id="vldterm" class="form-control"></p2><p1>交割地</p1><p2 class="span_add2"><span class="span_add2">{{product.dppid|province_filter}}</span><span class="span_add2">{{city_filter(product.dppid, product.dpcid)}}</span><div class="change_p2">更改</div></p2><p2 id="hide2"><select id="dppid" style="width:100px;margin-left:10px;"></select><select id="dpcid" style="width:100px; margin-left: 10px;"></select></p2>

					<p1>价格类型</p1><p2><select name="prtype" id="prtype" class="form-control"><option value="平仓价">平仓价</option><option value="坑口价">坑口价</option><option value="出厂价">出厂价</option></select></p2><p1>交割地址</p1><p2><input type="text" name="dpaddr" id="dpaddr" value="{{product.dpaddr}}" class="form-control"></p2>

					<p1>价格</p1><p2><input type="number" min="0" name="price" id="price" value="{{product.price}}" class="form-control"><span class="font-height">元/吨</span></p2><p1>价格地</p1><p2 class="span_add3"><span class="span_add3">{{product.prpid|province_filter}}</span><span class="span_add3">{{city_filter(product.prpid, product.prcid)}}</span><div class="change_p3">更改</div></p2><p2 id="hide3"><select id="prpid" style="width:100px;margin-left:10px;"></select><select id="prcid" style="width:100px; margin-left: 10px;"></select></p2>

					<p1 id="if_count">数量</p1><p2><input type="number" min="0" name="count" value="0" id="count" value="{{product.count}}" class="form-control"><input type="number" min="0" name="stock" id="stock" value="{{product.stock}}" class="form-control"></p2><p1 id="if_onsale"></p1><p2><input type="radio" name="onsale" id="onsale0" class="if_onsale" checked><span class="if_onsale">是</span><input type="radio" name="onsale" id="onsale1" class="if_onsale"><span class="if_onsale">否</span></p2>

					<p1>备注</p1><p3><input type="text" name="remark" id="remark" maxlength="120" value="{{product.remark}}" class="form-control"></p3>
				</div>

				<div class="table-three">
					<div class="first-blue">工业分析指标</div>
					<div class="left-big-one">水份:</div>
					<p1><span>全水份(Mt)</span><input type="number" min="0.00" max="60.00" name="mt" id="mt" value="{{industryIndex.mt}}" class="form-control"><span>%</span></p1><p2>灰份(A):</p2><p1><span>收到基(ar)</span><input type="number" min="0.00" max="60.00" name="aar" id="aar" value="{{industryIndex.aar}}" class="form-control"><span>%</span></p1><p2>全硫份(St):</p2><p1><span>收到基(ar)</span><input type="number" min="0.00" max="10.00" name="star" id="star" value="{{industryIndex.star}}" class="form-control"><span>%</span></p1>
					<p1><span>内水(Mad)</span><input type="number" min="0.00" max="20.00" name="mad" id="mad" value="{{industryIndex.mad}}" class="form-control"><span>%</span></p1><p2 class="noborder"></p2><p1><span>空干基(ad)</span><input type="number" min="0.00" max="60.00" name="aad" id="aad" value="{{industryIndex.aad}}" class="form-control"><span>%</span></p1><p2 class="noborder"></p2><p1><span>空干基(ad)</span><input type="number" min="0.00" max="10.00" name="stad" id="stad" value="{{industryIndex.stad}}" class="form-control"><span>%</span></p1>
					<div class="left-big-two">挥发份(V):</div>
					<p1><span>收到基(ar)</span><input type="number" min="0.00" max="60.00" name="varr" id="varr" value="{{industryIndex.var}}" class="form-control"><span>%</span></p1><p2>固定碳(FC):</p2><p1><span>收到基(ar)</span><input type="number" min="0.00" max="100.00"  name="fcar" id="fcar" value="{{industryIndex.fcar}}" class="form-control"><span>%</span></p1><p2>低位发热量(Qnet):</p2><p1><span>收到基(ar)</span><input type="number" min="2000" max="9000" name="qnetar" id="qnetar" value="{{industryIndex.qnetar}}" class="form-control"><span>大卡</span></p1>
					<p1><span>空干基(ad)</span><input type="number" min="0.00" max="60.00" name="vad" id="vad" value="{{industryIndex.vad}}" class="form-control"><span>%</span></p1><p2 class="noborder"></p2><p1><span>空干基(ad)</span><input type="number" min="0.00" max="100.00" name="fcad" id="fcad" value="{{industryIndex.fcad}}" class="form-control"><span>%</span></p1><p2 class="noborder"></p2><p1><span>空干基(ad)</span><input type="number" min="0" max="9000" name="qnetad" id="qnetad" value="{{industryIndex.qnetad}}" class="form-control"><span>大卡</span></p1>
					<p3><span>干燥无灰基(daf)</span><input type="number" min="0.00" max="60.00" name="vdaf" id="vdaf" value="{{industryIndex.vdaf}}" class="form-control"><span>%</span></p3><p2>颗度(Size)</p2><p4><input type="number" min="0" max="9000" name="szlowlm" id="szlowlm" value="{{industryIndex.szlowlm}}" class="form-control"><span>-</span><input type="number" min="0" max="9000" name="szuplm" id="szuplm" value="{{industryIndex.szuplm}}" class="form-control"><span>mm 占比</span><input type="number" min="0" max="100" name="szppt" id="szppt" value="{{industryIndex.szppt}}" class="form-control"><span>%</span></p4>
				</div>

				<div class="last-table">
					<a href="#">帮助说明</a>
					<img src="/static/back-publish/picture/btn_02.png" id="btn-publish">
				</div>

				<div id="pdid" style="display:none">{{product.id}}</div>
				<div id="infor_ctgid" style="display:none">{{product.typeid}}</div>
				<div id="paytype" style="display:none">{{product.paytype}}</div>
				<div id="pdtype" style="display:none">{{product.pdtype}}</div>
				<div id="onsale" style="display:none">{{product.onsale}}</div>

			</div>
		</div>

		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/back-modify.js"></script>
		<script type="text/javascript" src="/static/js/area.js"></script>
		<script type="text/javascript" src="/static/js/location.js"></script>
		<script type="text/javascript" src="/static/js/select2.js"></script>
		<script type="text/javascript" src="/static/js/select2_locale_zh-CN.js"></script>
		<script type="text/javascript">
			$("#prtype").val("{{product.prtype}}");
			$("#ctgid").val("{{product.ctgid}}");
			$("#vldterm").val("{{format_datetime(product.vldterm)}}");
			$("#pdpid").val("{{product.pdpid}}");
			$("#pdcid").val("{{product.pdcid}}");

			$("#dppid").val("{{product.dppid}}");
			$("#dpcid").val("{{product.dpcid}}");

			$("#prpid").val("{{product.prpid}}");
			$("#prcid").val("{{product.pdpid}}");
		</script>
	</body>

</html>