<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>产品列表</title>
    <link rel="stylesheet" href="/static/style/bootstrap.css">
    <link rel="stylesheet" href="/static/style/back.css">
    <link href="/static/style/back-common.css" rel="stylesheet">
</head>
<body>
      {% include 'util/admin/top.html' %}

      {% include 'util/admin/left-box.html' %}
	<div class="backArticleBox">
    <div class="backArticleName">产品列表</div>
		<table class="backArticleMenuBox" border="1">
			<tr>
				<td class="backArticleMenuNew"><a href="#"></a></td>
				<td class="backArticleMenuSave"><a href="#"></a></td>
				<td class="backArticleMenuSee"><a href="#"></a></td>
				<td class="backArticleMenuDelete"><a href="#"></a></td>
			</tr>
		</table>
		<div class="backArticleMenuOptions">
			<select name="cars" class="form-control">
				<option value="all">所有类别</option>
				<option value="option1">类别1</option>
				<option value="option2">类别2</option>
				<option value="option3">类别3</option>
			<div class="form-group">
    			<input type="text" class="form-control" placeholder="搜索文章">
    			<button class="btn btn-default">搜索</button>
    		</div>
		<div class="backArticleTable">
    	<div class="checkboxNormal">
      	<input type="checkbox">
      	<div class="checkboxID">ID</div>
      	<div class="checkboxTitle">订单号</div>
      	<div class="checkboxType">类别</div>
      	<div class="checkboxOrigin">发布者</div>
      	<div class="checkboxDate">时间</div>
      	<div class="checkboxOption">操作</div>
    	</div>
      {% for p in product %}
      <div class="{% if p.id%2 == 1 %}checkboxDark{% else %}checkboxNormal{%endif%}">
        <input type="checkbox">
        <div class="checkboxID">{{p.id}}</div>
        <div class="checkboxTitle">{{p.ordnum}}</div>
        <div class="checkboxType">{{p.category.name}}</div>
        <div class="checkboxOrigin">{{p.user.username}}</div>
        <div class="checkboxDate">{{format_datetime(p.rldate)}}</div>
        <div class="checkboxOption">
          <table border="1">
            <tr>
              <td><a class="checkboxOptionEdit" href="{{url_for('admin.modify_product', id=p.id)}}"></a></td>
              <td><a class="checkboxOptionCopy" href="#"></a></td>
              <td><a class="checkboxOptionDelete" href="#"></a></td>
            </tr>
          </table>
        </div>
      </div>   
      {% endfor %}
    
    	
    	<div class="stockButtonBox">
            <div class="stockButtons">
        <input type="button" class="stockButton stockButtonPre" {% if pagination.has_prev %}url="{{url_for('admin.product_list', page=pagination.page-1, count=count)}}"{% endif %}>
        {% for p in pagination.iter_pages() %}
          {% if p %}
            {% if p == pagination.page %}
            <input type="button" class="stockButton" disabled="disabled" url="{{url_for('admin.product_list', page=p,count=count)}}" value="{{p}}">
            {% else %}
            <input type="button" class="stockButton" url="{{ url_for('admin.product_list', page=p, count=count)}}" value="{{p}}">
            {% endif %}
            
          {% else %}
            <input type="button" class="stockButton" value="...">
          {% endif %}
        {% endfor %}
        <input type="button" class="stockButton stockButtonNext" {% if pagination.has_next %}url="{{url_for('admin.product_list', page=pagination.page+1,count=count)}}"{% endif %} value=" ">
            </div>
		</div>
		</div>
	</div>	
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
  <script type="text/javascript" src="/static/js/paginationbutton.js"></script>
</body>
</html>