<html>
	<head>
		<title>发布产品</title>
		<meta charset="utf-8">
		<link href="/static/style/back-publish.css" rel="stylesheet">
		<link href="/static/style/back-common.css" rel="stylesheet">
	</head>
	<body>
		<div class="main">
			{% include 'util/admin/top.html' %}

			{% include 'util/admin/left-box.html' %}
			<div class="right-box">
				<p1>发布产品</p1>
				<div class="table-one">
					<p1>1</p1><p2>2</p2><p1>1</p1><p2>2</p2>
					<p1>1</p1><p2>2</p2><p1>1</p1><p2>2</p2>
					<p1>1</p1><p2>2</p2><p1>1</p1><p2>2</p2>
					<p1>1</p1><p2>2</p2><p1>1</p1><p2>2</p2>
					<p1>1</p1><p2>2</p2><p1>1</p1><p2>2</p2>
					<p1>1</p1><p2>2</p2><p1>1</p1><p2>2</p2>
					<p1>1</p1><p2>2</p2><p1>1</p1><p2>2</p2>
				</div>

				<div class="table-two">
					<p1 class="line-top">优惠名</p1><p2 class="line-top"></p2><p1 class="line-top"></p1><p3 class="line-top"></p3><p4 class="line-top"></p4>
					<p1></p1><p2></p2><p1></p1><p3></p3><p4><img src="/static/back-publish/picture/btn_04.png" id="btn-add"><img src="/static/back-publish/picture/btn_03.png" id="btn-delete"></p4>
				</div>

				<div class="table-three">
					<div class="first-blue"></div>
					<div class="left-big"></div>
					<p1></p1><p2></p2><p1></p1><p2></p2><p1></p1>
					<p1></p1><p2></p2><p1></p1><p2></p2><p1></p1>
					<p1></p1><p2></p2><p1></p1><p2></p2><p1></p1>
					<p1></p1><p2></p2><p1></p1><p2></p2><p1></p1>
					<div class="first-blue"></div>
					<p2></p2><p1></p1><p2></p2><p1></p1><p2></p2><p1></p1>
					<p2></p2><p1></p1><p2></p2><p1></p1><p2></p2><p1></p1>
					<p2></p2><p1></p1><p2></p2><p1></p1><p2></p2><p1></p1>
					<p2></p2><p1></p1><p2></p2><p1></p1><p2></p2><p1></p1>
					<div class="first-blue"></div>
					<p2></p2><div class="last-box"><img src="/static/back-publish/picture/btn_01.png" id="btn-send"></div>
				</div>

				<div class="last-table">
					<a href="#">帮助说明</a>
					<img src="/static/back-publish/picture/btn_02.png" id="btn-publish">
				</div>
			</div>
		</div>
	</body>

</html>