<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>发布文章</title>
    <link rel="stylesheet" href="/static/style/bootstrap.css">
    <link rel="stylesheet" href="/static/style/back.css">
    <link rel="stylesheet" href="/static/style/back-common.css">
</head>
<body>
    {% include 'util/admin/top.html' %}

    {% include 'util/admin/left-box.html'%}
	<div class="backArticleBox">
		<div class="backIssueName">发布文章</div>
		<form class="form-horizontal" action="{{url_for('api.admin_create_article')}}" method="POST">
  			<div class="form-group backIssueTitle">
   				<label class="col-sm-1 control-label">文章标题</label>
   				<div class="col-sm-6">
      			<input type="text" class="form-control" name="title">
    			</div>
  			</div>
  			<div class="form-group backIssueArea">
   				<label class="col-sm-1 control-label">文章类别</label>
   				<div class="col-sm-6">
            <select name="ctgid" class="form-control">
              {% for c in categorylist %}
              <option value="{{c.id}}">{{c.name}}</option>
              {% endfor %}
              
            </select>
    			</div>
  			</div>
  			<div class="form-group backIssueInner">
   				<label class="col-sm-1 control-label">正文内容</label>
   				<div class="col-sm-8">
      			<textarea name="body" rows="25" cols="100" class="form-control"></textarea>
    			</div>
  			</div>
  			<div class="form-group backIssueButtons">
          <input type="submit" value="" class="backIssue02"/>
      		<input type="submit" value="" class="backIssue01"/>
  			</div>
		</form>
	</div>	
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
</body>
</html>