<html>
  <head>
    <!-- <title>header</title>
    <meta charset="utf-8"> -->
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/public.css">
  </head>
  <body>
    <div class="header">

      <div class="top">
        <a href="#"><img src="img/nav-home.png"></a>
        <a href="#">首页</a>
        <a href="#" id="free">免费注册</a>
        <a href="#" id="login">立即登录</a>
        <img src="img/nav-phone.png" id="phone">
        <div class="move-box">
          <a href="#" id="shift">移动平台</a>
          <img src="img/nav-more.png" id="shift-img">
        </div>
        <div class="help-box">
          <a href="#" id="help">帮助中心</a>
          <img src="img/nav-more.png" id="help-img">
        </div>
        <img src="img/nav-tel.png" id="tel">
        <p>客服热线：000-000-0000</p>
      </div>
      <div class="shift-hide">
        <p>二维码</p>
      </div>
      <div class="help-hide">
        <p>二维码</p>
      </div>

      <div class="logo">
        <img src="img/nav-logo.png">
      </div>

      <div class="nav-link">
        <a href="#" id="main" class="active">首页</a>
        <a href="#" id="resource">现货资源</a>
        <a href="#" id="purchase">采购信息</a>
        <a href="#" id="logistics">物流</a>
        <a href="#" id="price">现货行情</a>
        <div id="slide-act"></div>
      </div>

    </div>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/header.js"></script>
  </body>
</html>