<html>
	<head>
		<title>logistics</title>
		<meta charset="utf-8">
		<link href="/static/style/logistics.css" rel="stylesheet">
	</head>
	<body>
		{% include 'util/main/header.html' %}
		<div class="main">
			
			<div class="map">
				<img src="/static/logistics/picture/hhh.jpg" id="big_img">

			</div>

			<div class="entrust">
				<div class="entrust-top">
					快速委托
				</div>
				<textarea id="entrust-content"></textarea>
				<div class="else-imformation">
						<p>公司名称</p>
						<input type="text" id="name">
						<p>手机</p>
						<input type="text" id="mobile">
						<p>联系人</p>
						<input type="text" id="linkman">
						<p>地区</p>
						<input type="text" id="area">
					<img id="submit" src="/static/logistics/picture/btn_01.png">
				</div>
			</div>

			<div class="order-record">
				<p>实施委托成交记录</p>
				<div class="order-menu">
					<p1>时间</p1><p2>详细内容</p2><p3>重量</p3>
				</div>
				<div class="order-menu order-content">
					<p1>11:11</p1><p2>熊**</p2><p3>130kg</p3>
				</div>
			</div>
			
		</div>
		{% include 'util/main/footer.html' %}
	</body>
</html>