<html>
  <head>
    <title>采购信息</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style/purchase.css">
  </head>
  <body>
    <div class="main">
        {% include 'util/main/header.html' %}
      <div class="search">
        <p1>分布</p1>
        <input type="text" name="distribution" class="big-text">
        <p1>交割地</p1>
        <input type="text" name="area_one">
        <input type="text" name="area_two">
        <input type="text" name="area_three">
        <p1>采购单号</p1>
        <input type="text" name="number">
        <img src="/static/purchase/picture/cut_03.png">
      </div>

      {% for p in product %}
      <div class="main-infor">
        <div class="left-box">
            <div class="main-infor-lineone">
                <p1>采购单号:</p1>
                <p2>{{p.ordnum}}</p2>
                <p1>发布时间：</p1>
                <p3>{{p.rldate|rldate_filter}}</p3>
            </div>
            <div class="main-infor-linetwo">
                <p4>{{p.category.name}} {{p.count}}吨, {{p.industryIndex.qnetar|Qnet_filter}}大卡</p4>
            </div>
            <div class="main-infor-linethree">
                <p5>{{p.price}}</p5>
                <p6>元 ({{p.prtype|prtype_filter}}) 交货地：{{p.pdpid|province_filter}}{{p.dpaddr}}</p6>
            </div>
            <div class="main-infor-linefour">
                <img src="/static/purchase/picture/cut_29.png">
                <p8>跟进交易员：</p8><p81>跟进员名</p81><div class="line"></div>
                <img src="/static/purchase/picture/cut_26.png">
                <p9>400-065-6868</p9><div class="line-two-purchase"></div>
                <div><a href="#"><img src="/static/purchase/picture/cut_22.png"></a></div>
            </div>
        </div>
        <div class="right-box">
            <p7>代报价</p7>
            <a href="#"><img src="/static/purchase/picture/cut_19.png"></a>
        </div>
      </div>
      {% endfor %}

      <div class="entrust">
        <p>免费发布采购</p>
        <a href="#"><img src="/static/purchase/picture/cut_change_10.png" class="img-first"></a>
        <a href="#"><img src="/static/purchase/picture/cut_07.png" class="img-sec"></a>
        <a href="#"><img src="/static/purchase/picture/cut_13.png" class="img-thr"></a>
        <textarea name="entrust-content"></textarea>
        <img src="/static/purchase/picture/cut_35.png" class="entrust-btn">
      </div>

      <div class="nearnow">
        <p>最近成交</p>
        <div class="menu">
          <p1>时间</p1><p2>详细内容</p2><p3>地点</p3>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊＊＊成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
        <div class="trade-content">
          <p1>7天前</p1><p2>熊老师成功以398.9元/吨采购了</p2><p3>镇海</p3><p4>动力煤&nbsp;&nbsp;&nbsp;5000大卡</p4>
        </div>
      </div>

      <div class="stockButtonBox">
        <div class="stockButtons">
            <input type="button" class="stockButton stockButtonPrePre" value=" ">
            <input type="button" class="stockButton stockButtonPre" value=" ">
            <input type="button" class="stockButton" value="1">
            <input type="button" class="stockButton" value="2">
            <input type="button" class="stockButton" value="3">
            <input type="button" class="stockButton" value="4">
            <input type="button" class="stockButton" value="5">
            <input type="button" class="stockButton" value="6">
            <input type="button" class="stockButton" value="7">
            <input type="button" class="stockButton" value="8">
            <input type="button" class="stockButton" value="9">
            <input type="button" class="stockButton" value="10">
            <input type="button" class="stockButton" value="...">
            <input type="button" class="stockButton stockButtonNext" value=" ">
            <input type="button" class="stockButton stockButtonNextNext" value=" ">
        </div>
     </div>
     {% include 'util/main/footer.html' %}
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/purchase.js"></script>
  </body>

</html>