<!DOCTYPE html>
<html>
<head>
	<title>现货资源</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/static/style/bootstrap.css">
    <link rel="stylesheet" href="/static/style/back-stock.css">
    <link rel="stylesheet" href="/static/style/main.css">

</head>
<body>
	<div class="main">
	{% include 'util/main/header.html' %}
	<div class="Box">
		<div class="chooseTableButtonBox">
			<button class="chooseTableButton">收起筛选<img src="../static/back-stocks/picture/stock1.png"></button>
		</div>
		<table class="chooseTable" border="1">
			<tr>
				<td class="tableTittle">分类</td>
				<td class="tableBody" name="fenlei">
					<div class="tableBox">不限</div>
					{% for c in category %}
					<div class="tableBox" id="{{c.id}}">{{c.name}}</div>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="tableTittle">产地</td>
				<td class="tableBody" name="chandi">
					<div class="tableBox">不限</div>
					{% for key in producingArea %}
					<div class="tableBox" id="{{key}}">
					{{producingArea[key].getName()}}
					</div>

					{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="tableTittle">交割地</td>
				<td class="tableBody" name="jiaogedi">
					<div class="tableBox">不限</div>
					{% for key in jiaogeArea %}
					<div class="tableBox" id="{{key}}">
					{{jiaogeArea[key]}}
					</div>
					{% endfor %}
				</td>
			</tr>
			<tr class="tableHigh">
				<td class="tableTittle">名企</td>
				<td class="tableBody" name="mingqi">
					<div class="tableBox">不限</div>
					<table border="1" class="tableBoxLogos">
						<tr>
							<td>LOGO</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="tableTittle">低位发热量</td>
				<td class="tableBody" name="Qnet">
					<div class="tableBox">不限</div>
					{% for key in Qnet | dict_sorted %}
					<div class="tableBox" id="{{key}}">
					{{Qnet[key].getName()|setting_format}}
					</div>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="tableTittle">全硫份</td>
				<td class="tableBody" name="St">
					<div class="tableBox">不限</div>
					{% for key in St | dict_sorted %}
					<div class="tableBox" id="{{key}}">
					{{St[key].getName()|setting_format}}
					</div>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="tableTittle">挥发份</td>
				<td class="tableBody" name="V">
					<div class="tableBox">不限</div>
					{% for key in V | dict_sorted %}
					<div class="tableBox" id="{{key}}">
					{{V[key].getName()|setting_format}}
					</div>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="tableTittle">全水份</td>
				<td class="tableBody" name="Mt">
					<div class="tableBox">不限</div>
					{% for key in Mt | dict_sorted %}
					<div class="tableBox" id="{{key}}">
					{{Mt[key].getName()|setting_format}}
					</div>
					{% endfor %}
				</td>
			</tr>
		</table>
		<div class="More">更多</div>
			<table class="infoBox" border="1">
			<tr>
				<td class="infoMenuBox">
					<table border="1" class="infoMenuTable">
						<tr class="infoMenu">
							<td class="infoMenuMR"><a href="#">默认</a></td>
							<td class="infoMenuJG"><a href="#">价格</a></td>
							<td class="infoMenuKC"><a href="#">库存</a></td>
							<td class="infoMenuRQ"><a href="#">日期</a></td>
						</tr>
					</table>
					<a href="#" class="infoBoxJGD">交割地</a>
					<a href="#" class="infoBoxZDJ">最高价</a>
					<div class="infoBoxLine">—</div>
					<a href="#" class="infoBoxZGJ">最低价</a>
					<a href="#" class="infoBoxYXQ">有效期</a>
					<div class="infoBoxInfo">
						<div class="infoBoxGP">
							<div class="infoBoxGPPic"></div>
							今日挂牌总量:<span>123,456</span>吨
						</div>
						<div class="infoBoxTotal">共找到23,456条商品</div>
						<div class="infoBoxNow">1/99</div>
					</div>
					<button class="infoBoxR"></button>
					<button class="infoBoxL"></button>
				</td>
			</tr>
			<tr class="infoTittle">
				<td>
					<div class="stockClassification">分类</div>
					<div class="stockName">品名</div>
					<div class="stockCompany">供货公司</div>
					<div class="stockKAL">主指标</div>
					<div class="stockQuantity">库存（吨）</div>
					<div class="stockPrice">价格（元/吨）	</div>
					<div class="stockPlace">交割地</div>
					<div class="stockDate">有效期</div>
					<div class="stockOperation">操作</div>
				</td>
			</tr>
			{% for p in product %}
			<tr class="infoInner">
				<td>
					<div class="stockClassification">{{ p.category.name | string_filter}}</div>
					<div class="stockName">{{p.coal | string_filter}}</div>
					<div class="stockCompany">广州珠江电力燃料有限公司</div>
					<div class="stockKAL">{{p.industryIndex.qnetar}}Kcal</div>
					<div class="stockQuantity">{{p.stock|string_filter}}</div>
					<div class="stockPrice">{{p.price}}</div>
					<div class="stockPlace">{{p.dpaddr|string_filter}}</div>
					<div class="stockDate">{{p.vldterm|string_filter}}</div>
					<a href="{{url_for('main.detail', id=p.id)}}"><div class="stockOperationButton"></div></a>
				</td>
			</tr>
			{% endfor %}
			
			<tr class="infoInner">
				<td>
					
				</td>
			</tr>
		</table>
		<div class="stockButtonBox">
			<div class="stockButtons">
				<input type="button" class="stockButton stockButtonPrePre" value=" ">
				<input type="button" class="stockButton stockButtonPre" value=" ">
				<input type="button" class="stockButton" value="1">
				<input type="button" class="stockButton" value="2">
				<input type="button" class="stockButton" value="3">
				<input type="button" class="stockButton" value="4">
				<input type="button" class="stockButton" value="5">
				<input type="button" class="stockButton" value="6">
				<input type="button" class="stockButton" value="7">
				<input type="button" class="stockButton" value="8">
				<input type="button" class="stockButton" value="9">
				<input type="button" class="stockButton" value="10">
				<input type="button" class="stockButton" value="...">
				<input type="button" class="stockButton stockButtonNext" value=" ">
				<input type="button" class="stockButton stockButtonNextNext" value=" ">
			</div>
		</div>
	</div>
		{% include '/util/main/footer.html' %}
	</div>
	  <script type="text/javascript">
	  	$('.chooseTable, .chooseTableButtonBox').fadeIn(200);
	  $('.chooseTableButton').click(function(){
  	  	$('.chooseTable, .chooseTableButtonBox').fadeOut(200);
	});
	$('.More').click(function(){
		$('.chooseTable, .chooseTableButtonBox').fadeIn(200);
	});
  </script>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
  <script type="text/javascript" src="/static/js/productselect.js"></script>
</body>
</html>